body {
    background-image: url(img/back.png);
    background-size: cover;
    min-height: 300px;
    padding-top: 300px;
}

.main-form {
    text-align: center;
}

.footer-wrapper {
    padding: 35px;
}

.form-checkbox {
    margin: 10px;
    background-color:#D8E9A8;
}

.submit {
    margin: 10px;
    text-decoration: none;
    background-color: #9c9c9c;
    color: #000000;
    border: #191A19 solid;
    padding: 7px;
}

.submit:hover {
    color: #ffffff;
    background-color: #191A19;
}

.form-input {
    background-color:#191A19;
    border: 0;
    margin: 10px 20px;
    color:#ffffff;
}

.form-fieldset {
    border: #000000 solid;
    background-color: #000000;
    opacity: 0.8;
    color:#ffffff;
}

.name-group-date {
    color: #ffffff;
}
